# Gradle files
.gradle/
build/
/*/build/

# Android Studio / IntelliJ files
.idea/
*.iml
*.ipr
*.iws

# Local configuration
local.properties

# Build outputs
/app/build/
/app/release/
/app/debug/
*.apk
*.aar

# OS files
.DS_Store
Thumbs.db

# Signing Keys
*.jks
*.keystore
